<mat-toolbar color="primary">
    <button mat-button (click)="back()" matTooltip="back">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button (click)="home()" matToolTip="Home">
        <mat-icon>home</mat-icon>
    </button>
    <mat-icon>car</mat-icon>
    <span>Car Rental Application</span>
    <button mat-icon-button (click)="add()" matToolTip="Add">
        <mat-icon>add</mat-icon>
    </button>
    <span class="filler"></span>
    <div class="profile">
        <mat-icon>account_circle</mat-icon>
    </div>
</mat-toolbar>
