<mat-toolbar color="primary">
    <button mat-button (click)="back()" matTooltip="back">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button (click)="home()" matToolTip="Home">
        <mat-icon>home</mat-icon>
    </button>
    <mat-icon>car</mat-icon>
    <span>Car Rental Application</span>

    <button *ngIf="isAdmin" mat-icon-button (click)="add()" matToolTip="Add">
        <mat-icon>add</mat-icon>
    </button>

    <span class="filler"></span>
    <div class="profile">
        <span>{{username}}</span>
        <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>User Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>    
</mat-toolbar>
