<div class="header">
    <!-- <mat-progress-bar *ngIf="getData" mode="indeterminate"></mat-progress-bar> -->

    <button mat-button [matMenuTriggerFor]="menu" class="sort">Sort <mat-icon>sort</mat-icon></button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sortItems('name')">by name</button>
            <button mat-menu-item (click)="sortItems('ratings')">by rating</button>
            <button mat-menu-item (click)="sortItems('rent')">by rent</button>
        </mat-menu>

    <button mat-button *ngIf="showTable" (click)="grid()" matTooltip="grid">
        <mat-icon>grid_view</mat-icon>
    </button>

    <button mat-button  *ngIf="!showTable" (click)="table()" matTooltip="table">
        <mat-icon>table_view</mat-icon>
    </button>

</div>
<div class="spinner-container" *ngIf="getData">
    <mat-spinner></mat-spinner>
</div>  

<app-table-view *ngIf="showTable" [cars]="cars" [currentPage]="currentPage" [pageSize]="pageSize"></app-table-view>
<app-grid-view *ngIf="!showTable" [cars]="cars" [currentPage]="currentPage" [pageSize]="pageSize"></app-grid-view>

<mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage"
               (page)="onPageChange($event)" >
</mat-paginator>
