.register-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

mat-form-field{
    width: 300px;
}

mat-dialog-actions :hover{
    transform: scale(1.05);
}

h1{
    text-align: center;
    justify-content: center;
}

.error{
    color:red;
}